<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 给实体类增加一个别名 -->
		<typeAlias type="zx.soft.adt.domain.AlertList" alias="AlertList" />
		<typeAlias type="zx.soft.adt.domain.PlcClient" alias="PlcClient" />
		<typeAlias type="zx.soft.adt.domain.AccessList" alias="AccessList" />
		<typeAlias type="zx.soft.adt.domain.VPNTraffic" alias="VPNTraffic" />
		<typeAlias type="zx.soft.adt.domain.IP2GEO" alias="IP2GEO" />
	</typeAliases>
	<environments default="adt">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				  <!--<property name="url"
					value="jdbc:mysql://127.0.0.1:28096/vpn?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="root" />
				<property name="password" value="" /> -->
				 <property name="url"
					value="jdbc:mysql://192.168.6.126/vpn?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
				<property name="poolPingQuery" value="SELECT NOW()" />
				<property name="poolPingEnabled" value="true" />  

				<property name="driver.encoding" value="UTF8" />
			</dataSource>
		</environment>

		<environment id="adt">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<!-- <property name="url" value="jdbc:mysql://192.168.3.66/adt?useUnicode=true&amp;characterEncoding=utf-8" 
					/> -->
				<property name="url"
					value="jdbc:mysql://192.168.3.55/adt?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="adt" />
				<property name="password" value="adt" />
				<property name="driver.encoding" value="UTF8" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper class="zx.soft.adt.dao.DataMapper" />
	</mappers>
</configuration>